.container{
 background: linear-gradient(to bottom,rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.194)),url(../../../public/cube.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper{
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: calc(100vh - 80px);
    border-radius: 20px;
    width: 100%;
    margin: 0 20px;
}
.text{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.242), rgba(0, 0, 0, 0.27)),url(../../../public/cube1.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    padding: 30px;


}
.form {
    display: flex;
   
    width: 50%;
    background-color: rgba(255, 192, 203, 0.086);
    height: 100%;
    border-radius: 0px 20px 20px 0px;

    justify-content: center;
    padding: 30px;
   

}
.form form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.formTitle {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-top: -30px;
}

.form form h1{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.form form p{
    
    text-align: center;

}
.input{
    padding: 15px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    max-width: 400px;
    background-color: transparent;
    font-size: 1.2rem;
}   

.input::placeholder{
    color: rgba(0, 0, 0, 0.544);
    font-size: 1.2rem;
    font-style: italic;
}

.button{
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    
    .wrapper {
        flex-direction: column;
        height: auto;
        margin: 20px auto;
    }
    
    .text, .form {
        width: 100%;
        border-radius: 20px;
    }
    
    .text {
        height: 230px;
        margin-bottom: 20px;
    }
    
    .form {
        padding: 20px;
    }
    
    .form form {
        gap: 20px;
    }
    
    .form form h1 {
        font-size: 1.5em;
    
    }
    
    .input {
        padding: 12px;
        font-size: 1.1rem;
    }
    
    .input::placeholder {
        font-size: 1.1rem;
    }
    
    .button {
        padding: 12px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 10px;
    }
    
    .wrapper {
        margin: 10px auto;
    }
    
    .text {
        height: 150px;
        padding: 15px;
    }
    
    .form {
        padding: 15px;
    }
    
    .form form h1 {
        font-size: 1.5rem;
    }
    
    .form form {
        gap: 15px;
    }
    
    .input {
        padding: 10px;
        font-size: 1rem;
    }
    
    .input::placeholder {
        font-size: 1rem;
    }
    
    .button {
        padding: 10px;
        font-size: 1rem;
    }
}

.error{
    color: #ff4d4f;
    text-align: center;
    font-weight: 600;
    margin-top: 6px;
}

.button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.success{
    color: #178a39;
    text-align: center;
    font-weight: 600;
    margin-top: 6px;
}